.Board_div{
    width: 600px;
    height: 600px;
}

table, th , td{
    border: 1px solid black;
}

.ChessBoard{
    width: 100%;
    height: 100%;
    
}

.BlackBlock{
    background: gray;
}

th, td{
    padding: 15px;
    text-align: left;
}
.BoardBlock{
    height: 80px;
}